
body {
background-color:#fefee2;
 }
 
 header {
 background-color:#c8ad7F;
 }
 
 main {
 background-color:#fefee2;
 text-align:left;
 padding-bottom:15px;
 }
 
 footer {
 text-align:center;
 padding-bottom:15px;
 }
 